<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Django Url Shortener</title>

    <meta http-equiv="refresh" content="5; URL={{url}}" />

    {% load static %}

    <link rel="stylesheet" href="{% static 'app/style.css' %}" />
  </head>
  <body>
    <div class="center">
      {% if url %}
      <h1>Redirecting to: <span style="color: #c84b31">{{url}}</span></h1>
      <a href="{{url}}">Redirect Now</a>
      {% else %}
      <h1>Url not found.</h1>
      {% endif %}
    </div>
  </body>
</html>
