body {
  background-color: #191919;
  color: whitesmoke;
  font-family: sans-serif;
}

a {
  background-color: #2d4263;
  color: whitesmoke;
  border-radius: 12px;
  text-decoration: none;
}

.center {
  display: block;
  text-align: center;
  margin: auto;
}

h1 {
  padding: 120px 0;
  font-size: 30pt;
  line-height: 45px;
}

a:active,
a:visited {
  color: white;
}

@media only screen and (max-width: 700px) {
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    width: 100%;
    height: 100%;
  }

  a {
    font-size: 25pt;
    padding: 20px 32%;
  }

  h1 {
    font-size: 25pt;
    padding: 80px 0;
  }
}

@media only screen and (min-width: 700px) {
  a {
    font-size: 32pt;
    padding: 25px 30%;
  }

  h1 {
    font-size: 32pt;
  }
}

@media only screen and (min-width: 1100px) {
  a {
    font-size: 40pt;
    padding: 30px 15%;
  }

  h1 {
    font-size: 40pt;
  }
}
